.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.navigation-links-text1 {
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}




@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');



.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 60px;
}

    .card > div {
        box-shadow: 0 15px 20px 0 rgba(0,0,0,0.5);
    }

.card-image {
    width: 400px;
    height: 250px;
}

    .card-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

.card-text {
    margin: -30px auto;
    margin-bottom: -50px;
    height: 300px;
    width: 300px;
    background-color: #1D1C20;
    color: #fff;
    padding: 20px;
}

.card-meal-type {
    font-style: italic;
}

.card-title {
    font-size: 2.2rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.card-body {
    font-size: 1.25rem;
}

.card-price {
    width: 100px;
    height: 100px;
    background-color: #970C0A;
    color: #fff;
    margin-left: auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 150px;
}
.navbar-nav {
  display: flex;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  width: 150px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
}

.feature-card-card {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.feature-card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card-text {
  font-size: 20px;
  font-family: "Arial";
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-text1 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: "Noto Sans";
  font-weight: 600;
  line-height: 1.75;
  text-decoration: underline;
}
.feature-card-text1:hover {
  text-decoration: underline;
}
@media(max-width: 767px) {
  .feature-card-card {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-card {
    width: 100%;
  }
}

.footer-footer {
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  padding-bottom: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.footer-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo-footer {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  object-fit: cover;
}
.footer-text {
  font-family: "Arial";
}
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  font-size: 18px;
  font-style: normal;
  font-family: "Comic Sans MS";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-icon {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .footer-text {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .footer-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-logo-footer {
    align-self: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-text {
    width: auto;
  }
  .footer-social-media {
    align-self: flex-start;
  }
}

.copyright-copyright {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.copyright-max-width {
  align-items: stretch;
}
.copyright-text {
  color: var(--dl-color-grays-gray100);
}
@media(max-width: 991px) {
  .copyright-max-width {
    flex-direction: column;
  }
}

.list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.list-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list-calculator-section {
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.list-max-width {
  flex-direction: row;
  justify-content: center;
}
.list-calorie-calculator {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list-text {
  color: var(--dl-color-backgrounds-primary);
  font-size: 3.5em;
  text-align: center;
  font-family: "Arial Black";
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: underline;
}
.list-cards {
  width: 80vw;
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.list-calculate-button {
  font-family: "Arial Black";
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .list-text {
    font-size: 3em;
  }
}
@media(max-width: 767px) {
  .list-max-width {
    flex-direction: column;
  }

  .card__action2 {
    right: 6rem;
  }
}
@media(max-width: 479px) {
  .list-text {
    font-size: 2em;
    text-align: center;
  }
  .list-cards {
    gap: var(--dl-space-space-unit);
  }
  
}
