@{
    ViewData["Title"] = "About Us Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jadi Pametno</title>
    <meta property="og:title" content="JadiPametno" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />


</head>
<body>
    <p>coming soon</p>
</body>
</html>
